.content__aboutus {
    background: #ffffff7a;
    width: 85%;
    margin-top: 3%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8vh;
    padding: 2vh 0;
    border-radius: 10px;
    h1 {
        color: $pc;
        padding: 2vh;
        align-self: center;
        font-size: 3rem;
        font-weight: bold;
    }
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: sticky;
    top: 5vh;
}

.aboutus_description {
    border-left: 5px solid $pc;
    p {
        padding-left: 2vw;
        padding-right: 2px;
        font-size: 17px;
        color: rgb(48, 47, 47);
        font-weight: bold;
    }
}

.social_media_links {
    width: 100%;
    h2 {
        padding: 1vw;
    }
    div {
        padding: 0 2vw;
        border-left: 5px solid $pc;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: bold;
        font-size: 1.5rem;
        gap: 5px;
        p {
            width: 100%;
            font-size: 15px;
            color: rgb(48, 47, 47);
        }
    }
    a {
        color: black;
    }
}

.hideelem {
    display: none !important;
}

.gmail {
    width: 100%;
    padding: 1vw;
    font-size: 18px;
    a {
        color: $sc1;
    }
}
@media screen and (max-width: 855px) {
    .aboutus_description p {
        padding-left: 3vw !important;
        font-size: 13px !important;
    }
    .social_media_links div p {
        font-size: 12px !important;
    }
    .gmail{
        font-size: 14px;
    }
}

@media screen and (max-width: 456px){
    .content__aboutus h1 {
        font-size: 2rem;
    }
    .content__aboutus {
        gap: 4vh;
    }
}

.light{
    .aboutus_description, .social_media_links div {
        border-left: 5px solid white;
    }
    .content__aboutus{
        background: rgb(0 0 0 / 73%);
        color: white;
    }
    .social_media_links div p, .aboutus_description p, a, h1{
        color: white;
    }
}